  {% load static %}

  <footer class="py-5 bg-primary">
    <div class="container">

      <div class="row">

        <div class="col-12 col-lg-4 mb-3">
          <a href="{% url 'home:index' %}"><img height="45" alt="Logo" src="{% static 'blog/images/logo5.png' %}"></a>

          <!-- Subscribe Widget -->
          <div class="my-4 ml-3 mr-5 pr-5">
            <p class="mt-3 text-white">Join our mailing list to be notified of python tutorials, programming books and more from PythonStacks. </p>
            <form method="post" action="{% url 'marketing:subscription' %}">
              {% csrf_token %}
              <div class="input-group">
                <input type="text" class="form-control" name="email" placeholder="Enter Email...">
                <span class="input-group-append">
                  <button class="btn btn-info" type="submit">Join</button>
                </span>
              </div>
            </form>
          </div>

        </div>

        <div class="col-6 col-md-4 col-lg-3">
          <h5 class="text-white mb-4">Pages</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-2"><a class="text-white" href="{% url 'home:index' %}">Homepage</a></li>
            <li class="mb-2"><a class="text-white" href="{% url 'blog:index' %}">Blog</a></li>
            <li class="mb-2"><a class="text-white" href="{% url 'packages:index' %}">Library-Index</a></li>
            <li class="mb-2"><a class="text-white" href="{% url 'books:index' %}">Free Books</a></li>
            <li class="mb-2"><a class="text-white" href="{% url 'home:contact' %}">Contact Us</a></li>
            <li class="mb-2"><a class="text-white" href="{% url 'home:about' %}">About Us</a></li>
            <li class="mb-2"><a class="text-white" href="{% url 'home:policy' %}">Privacy Policy</a></li>
            <li class="mb-2"><a class="text-white" href="{% url 'home:terms' %}">Terms</a></li>

          </ul>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
          <h5 class="text-white mb-4">Resources</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-2"><a class="text-white" href="{% url 'blog:category' 'python' %}">Python Tutorials</a></li>
            <li class="mb-2"><a class="text-white" href="{% url 'blog:category' 'django' %}">Django Tutorials</a></li>
            <li class="mb-2"><a class="text-white" href="{% url 'packages:index' %}">Top Python Libraries</a></li>
            <hr>
            <li class="mb-2"><a class="text-white" href="{% url 'books:category' 'python' %}">Free Python books</a></li>
            <li class="mb-2"><a class="text-white" href="{% url 'books:category' 'machine-learning' %}">Machine Learning books</a></li>
<!--            <li class="mb-2"><a class="text-white" href="{% url 'books:category' 'computer-science' %}">Computer Science books</a></li>-->
<!--            <li class="mb-2"><a class="text-white" href="{% url 'books:category' 'java' %}">Free Java books</a></li>-->
          </ul>
        </div>

        <div class="col-md-4 col-lg-2 text-center my-4">
            {% include 'home/social.html' %}

<!--          <div class="mt-5">-->
<!--            <a href="#" class="btn btn-info ml-5">Support Us <i class="fa fa-heart"></i></a>-->
<!--          </div>-->
        </div>

      </div>

      <hr class="my-2">
      <div class="mt-1">
        <p class="m-0 text-center text-white">
          <span class="mt-5 ml-5 text-white mr-3">Copyright &copy; 2020</span>
          Made with &hearts;
        </p>
      </div>

    </div>
    <!-- /.container -->
  </footer>