{% extends 'home/base.html' %}

{% block content %}

<section class="home">
  <div class="container">

    <div class="row">

      <div class="col-lg-6 text-white">
        <h1 class="mt-5 text-white display-4 category_head font-weight-bold">The Hub for Python Programmers</h1>
        <p class="lead">
          At Real_Coder, you can learn from the best python tutorials online.
          Our tutorials are beginner-oriented and very much suitable for intermediate and advanced programmers.
        </p>
        <p class="lead">
            We provide articles on the python language, tips and tricks, guides, python projects using Requests and web development tutorials using frameworks like Django and Flask.
        </p>
      </div>

      <div class="col-lg-6 pb-4">
        <h3 class="mt-5 text-white">Browse our Tutorials</h3>
      </div>

    </div>




  </div>
</section>

{% endblock content %}