media/

static/

!blog/static/
!package_finder/static
!courses/static

db.sqlite3

*.env


blog/templates/blog/googleanalytics.html

*.sql

blog/templates/blog/googleadsense.html

blog/templates/blog/mediahead.html
blog/templates/blog/mediabody.html

package_finder/templates/package_finder/googleadsense.html
package_finder/templates/package_finder/googleanalytics.html




ads.txt