media/

static/

!blog/static/
!package_finder/static
!courses/static
!home/static
!books/static

db.sqlite3

*.env


blog/templates/blog/ads/googleanalytics.html

*.sql

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

blog/templates/blog/ads/

