media/

static/

!blog/static/
!package_finder/static
!courses/static
!home/static
!books/static

db.sqlite3

*.env


blog/templates/blog/ads/googleanalytics.html

*.sql

blog/templates/blog/ads/googleadsense.html

blog/templates/blog/ads/



package_finder/templates/package_finder/googleadsense.html
package_finder/templates/package_finder/googleanalytics.html
