{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% include "blog/ads/googleanalytics.html" %}

  {% comment %}{% include "blog/ads/googleadsense.html" %}{% endcomment %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Prince Jan">

  {% block meta %}
  {% endblock meta %}

  {% block title %}
  {% endblock title%}

  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'blog/images/favicon_io/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'blog/images/favicon_io/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'blog/images/favicon_io/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'blog/images/favicon_io/site.webmanifest' %}">

  <!-- Stylesheets
  ============================================= -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;500;700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'python_packages/css/bootstrap.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'python_packages/css/style.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'python_packages/css/dark.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'python_packages/css/font-icons.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'python_packages/css/animate.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'python_packages/css/magnific-popup.css' %}" type="text/css" />

  <link rel="stylesheet" href="{% static 'python_packages/css/custom.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'blog/css/fonts.css' %}" type="text/css" />

  {% block extra_css %}
  {% endblock %}

  <!-- Prism CSS -->
  <link rel="stylesheet" href="{% static 'blog/prism/tomorrow.css' %}">


  <!-- Custom JS -->
  <script src="{% static 'python_packages/js/custom.js' %}"></script>

  <!-- ShareThis -->
  {% block sharethis %}
  {% endblock sharethis%}

</head>

<body class="stretched">


  <!-- Document Wrapper
      ============================================= -->
  <div id="wrapper" class="clearfix">

    {% include 'python_packages/components/nav.html' %}

    {% block content %}

    {% endblock content %}


    {% include 'python_packages/components/footer.html' %}
  </div>

  <!-- #wrapper end -->


  <!-- Prism JS -->
  <script src="{% static 'blog/prism/tomorrow.js' %}"></script>

  <!-- Go To Top
  ============================================= -->
  <div id="gotoTop" class="icon-angle-up"></div>

  <!-- JavaScripts
  ============================================= -->
  <script src="{% static 'python_packages/js/jquery.js' %}"></script>
  <script src="{% static 'python_packages/js/plugins.min.js' %}"></script>

  <!-- Footer Scripts
  ============================================= -->
  <script src="{% static 'python_packages/js/functions.js' %}"></script>

    <!-- Alerts/Messages-->
    {% if messages %}	<!-- referring to django messages-->
				{% for message in messages %}
					<script>
					  document.addEventListener("DOMContentLoaded", function(){
					    alert(" {{ message }}");
					  });
					</script>
				{% endfor %}
    {% endif %}

</body>

</html>
