{% extends "python_packages/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block meta %}
  {% if package.meta_description %}
    <meta name="description" content="{{ package.meta_description }}">
  {% endif %}


{% comment %}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@PythonStacks" />
  <meta name="twitter:title" content="{{ post.title }}" />
  <meta name="twitter:description" content="{{ post.subtitle }}" />
  {% if post.image %}<meta name="twitter:image" content="https://www.pythonstacks.com{{ post.image.url }}" />{% endif %}

  <meta property="og:url" content="https://www.pythonstacks.com{{ post.get_absolute_url }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ post.title }}" />
  <meta property="og:description" content="{{ post.subtitle }}" />
  {% if post.image %}<meta property="og:image" content="https://www.pythonstacks.com{{ post.image.url }}" />{% endif %}
{% endcomment %}
{% endblock meta %}

{% block title %}
  <title>{{ package.title }} | PythonStacks</title>
{% endblock title %}

{% block sharethis %}
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5fc12549eb422600129fa047&product=inline-share-buttons-buttons' async='async'></script>
{% endblock sharethis%}


{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: linear-gradient(rgba(0, 133, 161, 0.6), rgba(0, 133, 161, 0.6)), url('{% static 'python_packages/images/python_img2.jpg' %}');background-attachment: fixed;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ package.title }}</h1>
            <span class="pip">pip install {{ package.pip_name }}</span>
<!--            <span class="meta">Posted by  <a href="{% url 'python_packages:about' %}">{{ package.author }}</a> on {{ package.pub_date | date:"F d, Y" }}</span>-->
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-3 d-none d-lg-block sidebar">
          <div>
            {% if package.image %}
              <img src="{{ package.image.url }}" width="130">
            {% endif %}
          </div>

          {{ package.meta_data | safe }}

        </div>
        <div class="col-lg-9 post">

          {{ package.description | safe }}

          <hr>

          <!-- ShareThis -->
          <div class="my-5">
            <div class="sharethis-inline-share-buttons"></div>
          </div>

          <div class="clearfix">
            <a class="btn btn-primary float-left" href="{{ prev_post.get_absolute_url }}" data-toggle="tooltip" data-placement="top" title="{{ prev_post.title }}">&larr; Previous<span class="d-none d-md-inline">
                Post</span></a>

            <a class="btn btn-primary float-right" href="{{ next_post.get_absolute_url }}" data-toggle="tooltip" data-placement="top" title="{{ next_post.title }}">Next<span class="d-none d-md-inline">
                Post</span> &rarr;</a>
          </div>
        </div>
      </div>
    </div>
  </article>

  <!-- Newsletter -->
  {% include 'blog/newsletter.html' %}


  <div class="">
  </div>


  <script>
      document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll('.post-ad').forEach(division => {
            division.classList.add("my-5");
            division.classList.add("bg-primary"); // remove
            division.innerHTML = "Hello world";
        });
      });
    </script>

{% endblock content%}