{% extends 'python_packages/base.html' %}
{% load static %}

{% block meta%}
<meta name="description"
      content="Find the best python libraries and frameworks that are a perfect match for your next python project."
      xmlns="http://www.w3.org/1999/html"> <!-- Perfect-->
{% endblock meta %}

{% block title %}
<title>Best Libraries And Frameworks For Your Python Projects | PythonStacks</title>
{% endblock title%}

<!-- Page-specific CSS-->
{% block extra_css %}
<style>
    @media (min-width: 1400px) {
        .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
            max-width: 1420px;
        }
    }
</style>
{% endblock %}

{% block content %}

<section>
  <div style="background-image: linear-gradient(rgba(0, 133, 161, 0.6), rgba(0, 133, 161, 0.6)), url('{% static 'python_packages/images/py.png' %}'); background-attachment: fixed;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <div class="packages-heading">

            <h1 data-animate="fadeInUp" class="font-weight-bold text-white col-md-10 mx-auto text-center fadeInUp animated">Find The
              Best Frameworks and Libraries for Your Python Projects.</h1>
            <!--Using Python for -->
            <div class="row mt-5">

              <div class="col-md-3">
                <h3 data-animate="fadeInUp" class="font-weight-bold mt-3 text-light python-for fadeInUp animated">Using Python
                  for: </h3>
              </div>

              <div class="col-md-9" id="cat_buttons">
                {% for category in categories %}
                <a data-animate="fadeInUp" class="btn mt-2 mx-1 cat_btn btn-light fadeInUp animated">{{category.tag }}</a>
                {% endfor %}
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Content
============================================= -->
<section id="content">
  <div class="content-wrap">

    <div class="promo promo-full promo-border p-5 header-stick bottommargin-lg">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-lg">
            <h3>Read Articles and Tutorials on <span>Python Programming</span> and Software development.</h3>
            <!--                          <span>Starts at just <em>$0/month</em> afterwards. No Ads, No Gimmicks and No SPAM. Just Real Content.</span>-->
          </div>
          <div class="col-12 col-lg-auto mt-4 mt-lg-0">
            <a href="{% url 'blog:index' %}" class="button button-reveal button-large text-end m-0"><i class="icon-angle-right"></i><span>Visit Blog</span></a>
          </div>
        </div>
      </div>
    </div>

    <div class="container clearfix">

      <div class="row">

        {% for category in categories %}
        <div class="col-md-6 mb-4" id="{{ category.id }}">
          <h2 class="mb-3 cat_head font-weight-bold">{{ category.tag }}</h2>
          <hr>

          <div class="row">

            {% for package in category.packages.all %}
            <div class="card package_card col-5 shadow mb-4 mx-2">
              <a href="#{{ package.name|slugify }}" {% if package.description %}data-lightbox="inline"{% endif %} class="py-3 pl-4">
                <div class="row no-gutters">

                  <div class="col-lg-4">
                    {% if package.image %}
                    <img class="img-fluid pl-3" alt="{{ package.name }} icon" src="{{ package.image.url }}" width="40">
                    {% else %}
                    <img class="img-fluid" alt="box" src="{% static 'python_packages/images/box.png' %}" width="40">
                    {% endif %}
                  </div>

                  <div class="col-lg-8 pt-1">
                    <span class="package_name">{{ package.name }}</span>
                  </div>

                </div>
              </a>
            </div>
            {% endfor %}

          </div>

        </div>
        {% endfor %}

      </div>

      <div class="clear"></div><div class="line"></div>


      <!-- Modal -->
      {% for package in packages %}
      {% if package.description %}
      <div class="" data-target="#{{ package.name|slugify }}"></div>

      <div class="modal1 mfp-hide mx-auto" id="{{ package.name|slugify }}" style="background-color: #FFF; max-width: 500px;">
        <div class="block mx-auto" style="background-color: #FFF; max-width: 500px;">
          <div class="modal_content" style="padding: 50px;">
            <h3>{{ package.name }}</h3>
            {{ package.description|safe }}

            <h4><strong>{{ package.name }} Resources</strong></h4>
            <p>
              {% if package.homepage %}
              <span>$ <a href="{{package.homepage}}" target="_blank">Homepage</a> </span>
              {% endif %}
              <br>
              {% if package.documentation %}
              <span>$ <a href="{{package.documentation}}" target="_blank">Documentation</a></span>
              {% endif %}
              <br>
              {% if package.affiliate_course %}
              <span>$ <a href="{{package.affiliate_course}}" target="_blank">Learn {{ package.categories.all.first.tag|lower }} with {{ package.name }}</a></span>
              {% endif %}
            </p>
          </div>
          <div class="section center m-0" style="padding: 30px;">
            <a href="#" class="button" onClick="$.magnificPopup.close();return false;">Close this Modal</a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}

    </div>
  </div>
</section><!-- #content end -->

{% endblock content %}

{% block extra_script %}
  <link rel="stylesheet" href="{% static 'python_packages/css/magnific-popup.css' %}" type="text/css" />
  <script src="{% static 'python_packages/js/plugins.min.js' %}"></script>
{% endblock extra_script %}