body {
  padding-top: 75px;
   font-family: 'Work Sans', sans-serif;
}
a{color: #3498db;}

.navbar-nav .nav-item:hover .nav-link {color: #3498db;}
.navbar-nav .nav-item .dropdown-menu a:hover{background-color: #619ccd;}
nav form{width: 270px;}

h1, h2, h3{font-family: 'Work Sans', sans-serif;}

.category_head{font-size: 39px;}

.legaldocs {
    font-size: 17px;
}