body {
  padding-top: 75px;
   font-family: 'Work Sans', sans-serif;
}
a{color: #3498db;}

.navbar-nav .nav-item:hover .nav-link {color: #3498db;}
.navbar-nav .nav-item .dropdown-menu a:hover{background-color: #619ccd;}
nav form{width: 270px;}

h1, h2, h3{font-family: 'Work Sans', sans-serif;}


.note{
  border-left: 6px solid #4bae76;
  padding-left: 13px;
  color: #8f8c9a;
}

.category_head{font-size: 28px;}

.detail-head{font-size: 40px;}
.index-post-title{font-size: 32px;}

/** post content */
.post-content h2{
    font-size: 27px;
}
.post-content p{
    font-size: 17px;
}