.navbar-nav .nav-item .dropdown-menu a:hover{
  background-color: #17a2b8;
}

.note{
  border-left: 6px solid #0085A1;
  padding-left: 13px;
  color: #8f8c9a;
}

.jumbotron{
    border-radius: 0px;
}


/* Post  content */
.post h2 {
  font-size: 25px;
}

.post .row p{
  margin: 9px;
}
.post p{
    font-size: 19px;
    font-family: 'Nunito', sans-serif;
}

@media only screen and (max-width: 768px) {
  .post h2{
    font-size: 23px;
    }
  .post img {
  width: 100%;
 }
}
