/** */
html {
  scroll-behavior: smooth;
}

.navbar-nav .nav-item .dropdown-menu a:hover{
  background-color: #17a2b8;
}

.note{
  border-left: 6px solid #0085A1;
  padding-left: 13px;
  color: #8f8c9a;
}

.jumbotron{
    border-radius: 0px;
}

.dropdown-item{
    font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* newsletter */
.news-border{
    border: 3px solid black;
}
@media only screen and (max-width: 768px) {
  .news-border h2{
    font-size: 23px;
    }
}

/* Detail Post  content */
.post h2{
    font-size: 21px;
}

.post p, .post ol li{
    font-size: 18px;
}

@media only screen and (max-width: 768px) {
    .post h2{
        font-size: 19px;
    }
    .post p, .post ol li{
        font-size: 16.5px;
    }
}


/** ==========================================================================
body {
    font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, .nav-link{
  font-family: 'Spartan', sans-serif;
} */

.package_card a{
  text-decoration: none;
  color: black;
}

.package_card a:hover {
  color: black;
  background-color: lightblue;
}

.package_name {
  font-size: 18.5px;
}

/* packages_heading */
.packages-heading{
    padding: 120px 0px;
}
.packages-heading h1{
    font-size: 39px;
}

.packages-heading .btn {
	font-size: 13px;
	font-weight: 600;
	padding: 7px 8px;
	letter-spacing: 0px;
	text-transform: none;
	border-radius: 0;
}


/** detail */

.pip {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    background-color: white;
    color: #323a42;
    width: max-content;
    margin-top: 20px;
    padding: 4px 6px;
}

.sidebar p a{
    text-decoration: none;
    color: #0085A1;
}
.sidebar p a:hover{color: #00748c;}

.sidebar p, .sidebar ul li a{
    /*font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;*/
    font-size: 17px;
}

.sidebar .metaLinks p{
    margin: 5px;
}
.sidebar hr{
    margin-right: 100px;
    border-color: black;
    border-width: 1px;
}

#features p, #uses p{
    margin: 15px 0px;
}


/* media queries */

@media only screen and (max-width: 1198px) {
    .packages-heading h1{
        font-size: 33px;
    }
    .python-for{
        font-size: 26px;
    }

    .packages-heading .btn {
        font-size: 12.5px;
    }

    .pip{
        font-size: 20px;
    }

    header.masthead .post-heading h1 {
	    font-size: 45px;
    }
}

@media only screen and (max-width: 768px) {
    .packages-heading{
        padding: 100px 0px;
    }
    .packages-heading h1{
        font-size: 29px;
    }
    .python-for{
        font-size: 20px;
    }

    .packages-heading .btn {
	      font-size: 12px;
	      padding: 7px 8px;
    }

    header.masthead .post-heading h1 {
	    font-size: 35px;
    }
}




/* Animation */
@keyframes notice{

  0% {
    color: black;
  }
  25% {
    color: #3498db;
  }
  50% {
    color: black;
  }
  75% {
    color: #3498db;
  }
  100%{
    color: black;
  }
}

.cat_head{
  font-size: 22px;
  animation-name: notice;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-iteration-count: infinite;
}


/** to top button */
#topBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #0085A1; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 8px 16px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}
