{% extends 'package_finder/base.html' %}
{% load static %}

  {% block meta%}
    {% if package.description %}
      <meta name="description"
          content="{% autoescape off %}{{ package.description|striptags|slice:':157' }}{% endautoescape %}...">
    {% else %}
      <meta name="description"
          content="{{ summary|slice:':157' }}">
    {% endif %}

    <link rel="canonical" href="https://www.pythonstacks.com{{ package.get_absolute_url }}">
  {% endblock meta %}

  {% block title %}
    <title> {{ name }} - PythonStacks </title>
  {% endblock title%}


{% block content %}

  <!-- Jumbotron -->
  <div class="jumbotron bg-info text-white">
      <div class="container">
        <h1 class="mb-4 jumbo-head font-weight-bold">{{ name }} {{version}}</h1>
        <pre><span class="code text-white py-1 px-4 font-weight-bold">pip install {{ name }}</span></pre>
        <h2 class="jumbo-subhead mt-5">{{ summary }}</h2>
        <!-- can place ad in jumbotron -->
      </div>
  </div>

  <!-- Main Info -->
  <div class="container">
      <div class="row">

        <div class="col-md-7">

          <div class="mb-5">
            <h4>Project Author:</h4>
            <p class="lead ml-4">{{ author }}</p>
          </div>

          <div class="mb-5">
            <h4>Project Homepage:</h4>
            <p><a href="{{ homepage }}" class="lead ml-3" target="_blank">{{ homepage }}</a></p>
          </div>

          <div class="mb-5">
            <h4>Project on PyPI:</h4>
            <p><a href="{{ project_url }}" class="lead ml-4" target="_blank">{{ project_url }}</a></p>
          </div>

          {% if documentation != "N/A" %}
          <div class="mb-5">
            <h4>Documentation:</h4>
            <p class="lead ml-4" >
              Full Documentation of the project is available at -
              <a href="{{ documentation }}" target="_blank">{{ documentation }}</a>
            </p>
          </div>
          {% endif %}


          <div class="mb-5">
            <h4>Project Summary:</h4>
            <p class="lead ml-4" >{{ summary }}</p>
          </div>

          {% if package.description %}
          <div class="mb-5">
            <h4 class="font-weight-bold">Project Description:</h4>
            <div class="detail-description">{% autoescape off %}{{ package.description }}{% endautoescape %}</div>
          </div>
          {% endif %}


        </div>


        <div class="col-md-5">
            <!-- Ad here -->
          <div class="card">
                <div class="card-header">Learning Resources for {{ package.name }}</div>
              <div class="card-body">
                <ul>
                {% if package.resources.all %} <!--if package has resources -->
                  {% for r in package.resources.all %}
                    <li><p class="lead"><a href="{{ r.link }}" target="_blank">{{ r.title }}</a></p></li>
                  {% endfor %}
                {% else %} <!--if package has no resources-->
                  <li><p class="lead">N/A</p></li>
                {% endif %}
                </ul>
              </div>
            </div>

          <!-- or Ad here -->
          <div>
            <!-- Ad -->
            {% include "blog/cutebox.html" %}
          </div>

          <div>
            <!-- Ad -->
            {% include "blog/cutevertical.html" %}
          </div>
        </div>

      </div>
  </div>

{% endblock content %}