  {% load static %}

  <footer class="py-5 bg-light">
    <div class="container">

      <div class="row">

        <div class="col-12 col-lg-4 mb-3">
          <a href="{% url 'home:index' %}" class="text-dark"><h5 class="ml-3">PYTHONSTACKS</h5></a>

          <!-- Subscribe Widget -->
          <div class="my-4 ml-3 mr-5">
            <p class="mt-3">Join our mailing list to be notified of python tutorials, programming books and more from PythonStacks. </p>
            <form method="post" action="{% url 'marketing:subscription' %}">
              {% csrf_token %}
              <div class="input-group">
                <input type="text" class="form-control" name="email" placeholder="Enter Email...">
                <span class="input-group-append">
                  <button class="btn btn-secondary" type="submit">Join</button>
                </span>
              </div>
            </form>
          </div>

        </div>

        <div class="col-6 col-md-4 col-lg-3">
          <h5 class="mb-4">Pages</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-2"><a class="text-dark" href="{% url 'home:index' %}">Homepage</a></li>
            <li class="mb-2"><a class="text-dark" href="{% url 'blog:index' %}">Blog</a></li>
            <li class="mb-2"><a class="text-dark" href="{% url 'packages:index' %}">Library-Index</a></li>
            <li class="mb-2"><a class="text-dark" href="{% url 'home:contact' %}">Contact Us</a></li>
            <li class="mb-2"><a class="text-dark" href="{% url 'home:about' %}">About Us</a></li>
            <li class="mb-2"><a class="text-dark" href="{% url 'home:policy' %}">Privacy Policy</a></li>
            <li class="mb-2"><a class="text-dark" href="{% url 'home:terms' %}">Terms</a></li>

          </ul>
        </div>

        <div class="col-6 col-md-4 col-lg-3">
          <h5 class="mb-4">Resources</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-2"><a class="text-dark" href="{% url 'blog:category' 'python' %}">Python Tutorials</a></li>
            <li class="mb-2"><a class="text-dark" href="{% url 'blog:category' 'django' %}">Django Tutorials</a></li>
            <li class="mb-2"><a class="text-dark" href="{% url 'packages:index' %}">Top Python Libraries</a></li>
          </ul>
        </div>

        <div class="col-md-4 col-lg-2 text-center my-4">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://twitter.com/PythonStacks" target="_blank" class="text-secondary">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://facebook.com/PythonStacks" target="_blank" class="text-secondary">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/PythonStacks" target="_blank" class="text-secondary">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>

<!--          <div class="mt-5">-->
<!--            <a href="#" class="btn btn-info ml-5">Support Us <i class="fa fa-heart"></i></a>-->
<!--          </div>-->
        </div>

      </div>

      <hr class="my-2">
      <div class="mt-1">
        <p class="m-0 text-center text-white">
          <span class="mt-5 ml-5 text-white mr-3">Copyright &copy; 2020</span>
          Made with &hearts;
        </p>
      </div>

    </div>
    <!-- /.container -->
  </footer>