{% extends 'package_finder/base.html' %}
{% load static %}

{% block meta%}
  <meta name="description"
      content="Discover the best open-source python libraries and frameworks for your projects."> <!-- Perfect-->
{% endblock meta %}


{% block content %}

  <!--Jumbotron-->
  <div class="jumbotron bg-info">

    <h1 class="font-weight-bold text-white text-center jumbo-head">Discover the best python libraries for <br>your projects.</h1> <!--h3-->

    <div class="row mt-5">

      <div class="col-md-3">
        <h3 class="font-weight-bold mt-5 text-light">Using Python for: </h3>
      </div>

      <div class="col-md-9" id="cat_buttons">
        {% for category in categories %}
          <a href="#{{ category.id }}" class="btn mt-2 mx-1 cat_btn btn-light">{{ category.tag }}</a>
        {% endfor %}
      </div>

    </div>

    <div class="mt-4 mb-0">
      <p class="lead text-white text-center">Or  <a href="{% url 'blog:index' %}" class="ml-2 btn btn-light">Visit Blog</a></p>
    </div>

  </div>

  <!-- Can place ad here -->

  <!-- Main Section -->
  <section class="container-fluid">

    <div class="row">

      {% for category in categories %}

        <div class="col-md-6 mb-4" id="{{ category.id }}">

          <h2 class="mb-3 cat_head">{{ category.tag }}</h2>  <!--h4-->

          <hr>

          <div class="row">

            {% for package in category.packages.all %}
              <div class="card px-0 package_card col-5 ml-3 shadow mb-4 ">
                <a class="py-3 pl-4" href="{% url 'packages:detail' package.project_name %}">

                  <div class="row no-gutters">
                    <div class="col-md-4">
                      {% if package.image %}
                        <img class="img-fluid" alt="Icon" src="{{ package.image.url }}" width="40">
                      {% else %}
                        <img class="img-fluid" alt="Icon" src="{% static 'package_finder/images/box.png' %}" width="40">
                      {% endif %}
                    </div>

                    <div class="col-md-8">
                     <span class="package_name" style="font-size: 20px;">{{ package.name }}</span>
                    </div>

                  </div>

                </a>
              </div>
            {% endfor %}

          </div>

        </div>

      {% endfor %}

    </div>

  </section>

{% endblock content %}