body {font-family: 'Work Sans', sans-serif;}
h1, h2, h3, h4, h5 {font-family: 'Spartan', sans-serif;}

.navbar-default{background-color: #0073b7;border-color: #E7E7E7;}
.navbar-nav .nav-item:hover .nav-link {
    text-decoration: underline;
    color: white;}
.navbar-nav .nav-item .dropdown-menu a:hover{background-color: #3498db;}
.dropdown-item{color: black;}
a {color: #0073b7;}

@keyframes notice{
  0% {color: black;}
  25% {color: #3498db;}
  50% {color: black;}
  75% {color: #3498db;}
  100%{color: black;}
}
.cat_head{
  font-size: 25.5px;
  animation-name: notice;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-iteration-count: infinite;
}
.card-title {color: #002333;}
.course-card:hover{opacity: 0.8;}
.course-card h5{font-size: 16.5px;}
.jumbo-head{font-size: 32px;}