{% extends "blog/base.html" %}

{% load static %}

{% block meta%}
  <meta name="description"
      content="PythonStacks is a tutorial hub that explains technical programming concepts in plain language.">
{% endblock meta %}

{% block title %}
  <title>About - PythonStacks</title>
{% endblock title%}

{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'blog/images/bg/about-bg2.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2 class="my-4">PythonStacks</h2>
      <hr>

      <p class="lead">PythonStacks is a website whose primary content is based on the <span class="font-weight-bold">python programming language.</span></p>

      <p class="lead">PythonStacks began as a <span class="font-weight-bold"><a href="{% url 'blog:index' %}">blog</a></span> to create comprehensive python articles that stretched across simple python tutorials,
        Django tutorials, python 'how-tos' and other fields in the language.</p>

      <p class="lead">Python is a matured language and has a lot of libraries and it is sometimes difficult to find the best one for
        your projects or to even find a library to learn.</p>

      <p class="lead">Based on this problem, we created <span class="font-weight-bold"><a href="{% url 'packages:index' %}">a mini python library index</a></span> which contains the best Python libraries for
        most fields of study; web development, game development, data science, machine learning, ethical hacking
        and even libraries for crypto-trading.</p>

      <p class="lead">We at PythonStacks love working with python and we will continue to share our experience on programming.</p>

      <p class="lead">Don't hesitate to get in touch with us at admin@pythonstacks.com.</p>

      <blockquote class="blockquote mt-5 note"><i>Python is the "most powerful language you can still read".</i><br>  - Paul Dubois</blockquote>


      </div>
    </div>

    <div class="row my-4">
      <a href="{% url 'home:contact' %}" class="btn btn-info mx-auto"><span class="lead">Contact Us</span></a>
    </div>
  </div>


{% endblock content%}