{% extends "blog/base.html" %}



{% block content %}

  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <div class="my-5 py-2">
          <h3>Category: <span class="text-success font-weight-bold">{{ cat_name }}</span></h3>
        </div>

        <!-- Blog Post -->
      {% for post in posts %}
        <div class="card mb-4">

        {% if post.image %}
          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
        {% endif %}

          <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.overview | safe | slice:":250" }}</p>
            <a href="{% url 'blog:detail' post.slug %}" class="btn btn-primary float-right">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            <i class="fa fa-calendar mr-2"></i>{{ post.pub_date | date:"F d, Y"}}
            <i class="fa fa-user ml-4 mr-2"></i> <a href="#">{{ post.author }}</a>
          </div>
        </div>
      {% endfor %}



      </div>

      {% include 'blog/sidebar.html'%}


    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->


{% endblock content%}