{% extends "blog/base.html" %}

{% load static %}

{% block meta%}
  <meta name="description"
      content="{{ category.meta_description }}">

 <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@PythonStacks" />
  <meta name="twitter:title" content="{{ category.title_representation }}" />
  <meta name="twitter:description" content="{{ category.meta_description }}" />
  <meta name="twitter:image" content="https://www.pythonstacks.com{{ category.image.url }}" />

  <meta property="og:url" content="https://www.pythonstacks.com/category/{{ category.slug }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ category.title_representation }}" />
  <meta property="og:description" content="{{ category.meta_description }}" />
  <meta property="og:image" content="https://www.pythonstacks.com{{ category.image.url }}" />
{% endblock meta %}


{% block title %}
  <title>{{ category.title_representation }} | PythonStacks</title>
{% endblock title %}

{% block content %}
  <header class="masthead" style="background-image: url('{{ category.image.url }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{ category.title_representation }}</h1>
            <span class="subheading">{{ category.meta_description }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <a href="{% url 'blog:category' 'python'%}" class="btn btn-primary p-2 mb-1"><small>Python Tutorials</small></a>
        <a href="{% url 'blog:category' 'django'%}" class="btn btn-primary p-2 mb-1"><small>Django tutorials</small></a>
        <a href="{% url 'blog:category' 'online-courses'%}" class="btn btn-primary p-2 mb-1"><small>Top Online Courses</small></a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {% for post in posts %}
        <div class="post-preview">
          <a href="{{ post.get_absolute_url }}">
            <h2 class="post-title">
              {{ post.title }}
            </h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">
              {{ post.subtitle }}
            </h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            <a href="{% url 'python_packages:about' %}">{{ post.author }}</a>
            on {{ post.pub_date | date:"F d, Y" }}</p>
        </div>
        <hr>
        {% endfor %}


        <!-- All Posts Button -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{% url 'blog:all' %}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>

  <!-- Newsletter -->
  {% include 'blog/newsletter.html' %}

{% endblock content%}