{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

	<div class="container">

		<div class="row">

			<div class="col-md-8 mt-4">
				{% if messages %}	<!-- referring to django messages-->
				{% for message in messages %}
					<div class="alert alert-success">
						<h5 class="m-0">
							&checkmark;  {{ message }}
						</h5>
					</div>
				{% endfor %}
				{% endif %}

				<h3>Contact Us</h3>
				<hr>
		
				<form method="POST">
					{% csrf_token %}
		
					<h4>Leave a message</h4>
		
					{{ contact_form | crispy }}
		
					<button class="btn btn-info" type="submit">Send Message</button>
				</form>
		
			</div>

			{% include 'blog/sidebar.html' %}

		</div>

	</div>

{% endblock content %}