{% extends "blog/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block meta %}
  {% if post.meta_description %}
    <meta name="description" content="{{ post.meta_description }}">
  {% else %}
    <meta name="description" content="{{ post.subtitle }}">
  {% endif %}


  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@PythonStacks" />
  <meta name="twitter:title" content="{{ post.title }}" />
  <meta name="twitter:description" content="{{ post.subtitle }}" />
  {% if post.image %}<meta name="twitter:image" content="https://www.pythonstacks.com{{ post.image.url }}" />{% endif %}

  <meta property="og:url" content="https://www.pythonstacks.com{{ post.get_absolute_url }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ post.title }}" />
  <meta property="og:description" content="{{ post.subtitle }}" />
  {% if post.image %}<meta property="og:image" content="https://www.pythonstacks.com{{ post.image.url }}" />{% endif %}
{% endblock meta %}

{% block title %}
  <title>{{ post.title }} | PythonStacks</title>
{% endblock title %}

{% block sharethis %}
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5fc12549eb422600129fa047&product=inline-share-buttons-buttons' async='async'></script>
{% endblock sharethis%}


{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% if post.image %}{{post.image.url}}{%else%}{% static 'blog/images/bg/python-wall1.png' %}{% endif %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ post.title }}</h1>
            {% if post.subtitle %}<h2 class="subheading">{{ post.subtitle }}</h2>{% endif %}
            <span class="meta">Posted by
              <a href="{% url 'blog:about' %}">{{ post.author }}</a>
              on {{ post.pub_date | date:"F d, Y" }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-10 mx-auto post">

          {{ post.content | safe }}

          <hr>

          <!-- ShareThis -->
          <div class="my-5">
            <div class="sharethis-inline-share-buttons"></div>
          </div>

          <div class="clearfix">
            <a class="btn btn-primary float-left" href="{{ prev_post.get_absolute_url }}" data-toggle="tooltip" data-placement="top" title="{{ prev_post.title }}">&larr; Previous<span class="d-none d-md-inline">
                Post</span></a>

            <a class="btn btn-primary float-right" href="{{ next_post.get_absolute_url }}" data-toggle="tooltip" data-placement="top" title="{{ next_post.title }}">Next<span class="d-none d-md-inline">
                Post</span> &rarr;</a>
          </div>
        </div>
      </div>
    </div>
  </article>

  <!-- Newsletter -->
  {% include 'blog/newsletter.html' %}

  <div class="container comment-section my-5">

    <!-- Comments -->
    <div class="row my-3">
      <div class="col-lg-8 col-md-10 mx-auto post">

        <!-- Comments -->
        <h3 class="mb-3">{{ comments.count }} Comments</h3>

        {% for comment in comments%}
        <div class="media mb-2">
          <img class="d-flex mr-3 rounded-circle" width="40" src="{% static 'blog/images/avatar.png' %}" alt="avatar">
          <div class="media-body">
            <p class="my-0">
              <span class="text-info">{{ comment.name }}</span>
              <span class="float-right text-muted">
                 {{ comment.created_on | date:"F d, Y" }}
              </span>
            </p>
            <p>{{ comment.comment | linebreaks }}</p>
            <hr>
          </div>
        </div>

        {% if comment.replies %}
          {% for reply in comment.replies.all %}
            <div class="media ml-5 mt-0 mb-2">
              <img class="d-flex mr-3 rounded-circle" width="35" src="{% static 'blog/images/logo.png' %}" alt="avatar">
              <div class="media-body">
                <p class="mt-0">
                  <span class="text-info lead">{{ reply.name }}</span>
                  <span class="float-right text-muted font-weight-normal">
                     {{ reply.created_on | date:"F d, Y" }}
                  </span>
                </p>
                {{ reply.reply_message | linebreaks }}
                <hr>
              </div>
            </div>
          {% endfor %}
        {% endif %}

        {% endfor %}

    </div>
    </div>

    <!-- Comments Form -->
    <div class="row" id="comment">
      <div class="col-lg-8 col-md-10 mx-auto post card my-4">
      <div class="card-body">
        {% if new_comment %} <!-- If a new comment has been submitted -->
          <div class="alert alert-success">
            Your comment is awaiting moderation
          </div>
        {% else %}
          <h3>Leave a comment </h3>
          <form method="post" class="form">
            {% csrf_token %}
            {{ comment_form | crispy }}
            <p><small>* Email would not published </small></p>
            <button type="submit" class="btn btn-primary btn-lg px-4">Submit</button>
          </form>
        {%  endif %}
      </div>
    </div>
    </div>

    <!--Ad here -->
    <div class="row">

    </div>

  </div>

  <script>
      document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll('.post-ad').forEach(division => {
            division.classList.add("my-5");
            division.classList.add("bg-primary"); // remove
            division.innerHTML = "Hello world";
        });
      });
    </script>

{% endblock content%}