{% extends "blog/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}
  <title>{{ post.title }} - PythonStacks</title>
{% endblock title %}


{% block content %}

<div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{ post.title }}</h1>


        <hr>

        <!-- Author and Date/Time -->
        <p><i class="fa fa-calendar mr-2"></i>{{ post.pub_date | date:"F d, Y" }}
          <span> by
            <i class="fa fa-user ml-4 mr-2"></i><a href="{% url 'blog:about' %}">{{ post.author }}</a>
          </span>
          <i class="fa fa-tag ml-5 mr-2"></i>
            {% for cat in post.categories.all %}
              <a class="mr-2" href="{% url 'blog:category' cat.tag %}">{{cat}}</a>
            {% endfor %}
        </p>

        <hr>

        <!-- Preview Image -->
        {% if post.image %}
        <img class="img-fluid rounded" src="{{ post.image.url }}" alt="">
        {% endif %}

        <hr>

        <!-- Post Content -->
        <div class="mb-5">
          {{ post.content | safe }}
        </div>

        <hr>

      </div>


      {% include "blog/sidebar.html" %}

      <!-- Related Posts -->
      {% if related_posts %}
        <div class="col-md-8 my-3">
          <h4 class="mb-2">Related Posts:</h4>

            {% for post in related_posts %}
              <h5 class="mb-3"><a href="{% url 'blog:detail' post.slug %}">{{ post.title }}</a></h5>
            {% endfor %}

            <hr class="mb-4">

        </div>
      {% endif %}

      <!-- Comments -->
        <div class="col-md-8 my-4">

            <!-- Comments -->
            <h3 class="mb-5">{{ comments.count }} Comments</h3>

            {% for comment in comments%}
            <div class="media mb-4">
              <img class="d-flex mr-3 rounded-circle" width="40" src="{% static 'blog/images/avatar.png' %}" alt="">
              <div class="media-body">
                <p class="mt-0">
                  <span class="text-info lead">{{ comment.name }}</span>
                  <span class="float-right text-muted font-weight-normal">
                     {{ comment.created_on | date:"F d, Y" }}
                  </span>
                </p>
                {{ comment.comment | linebreaks }}
                <hr>
              </div>
            </div>
            {% endfor %}

        </div>


      <!-- Comments Form -->
        <div class="col-md-8 card my-4">
          <div class="card-body">
            {% if new_comment %} <!-- If a new comment has been submitted -->
              <div class="alert alert-success">
                Your comment is awaiting moderation
              </div>
            {% else %}
              <h3>Leave a comment </h3>
              <form method="post" class="form">
                {% csrf_token %}
                {{ comment_form | crispy }}
                <p><small>* Email would not published </small></p>
                <button type="submit" class="btn btn-primary btn-lg px-4">Submit</button>
              </form>
            {%  endif %}
          </div>
        </div>


    </div>

</div>

{% endblock content%}