{% extends "python_packages/base.html" %}
{% load static %}

  {% block meta %}
    <meta name="description"
        content="Top articles and tutorials on python programming and the django framework. Whether you are a beginner or an expert these tutorials are perfect for anyone having a passion for Python.">
  {% endblock meta %}

  {% block title %}
    <title>Articles and Tutorials on Python | PythonStacks</title>
  {% endblock title%}


{% block extra_css %}
  <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'blog/css/colorsf210.css?color=F39887' %}" type="text/css" />

  <style>
    .post-image{
      width: auto;
      padding-top: 56.25%;
      background-size: cover;
    }
  </style>
{% endblock %}

{% block content %}

  <!-- Page Title
  ============================================= -->
  <section id="page-title" class="page-title-center">

      <div class="container">
          <h1>PythonStacks Blog</h1>
          <span>Top articles and tutorials on python programming and software development.</span>
      </div>

  </section><!-- #page-title end -->

  <!-- Content
  ============================================= -->
  <section id="content">
      <div class="content-wrap pt-0 pt-sm-6">
          <div class="container">

              <!-- Single Page Categories
              ============================================= -->
              <div class="row gutter-50">
                  <div class="col-lg-3 cat-widgets position-sticky h-100" style="top: 234px;">
                      <div class="widget widget-search">
                          <form class="input-group" method="get" action="{% url 'blog:search' %}">
                              <input class="form-control" type="search" name="q" placeholder="Search" aria-label="Search">
                              <button class="btn btn-outline-secondary icon-line-search" type="button"></button>
                          </form>
                      </div>

                      <div class="widget widget-nav mt-md-5">
                          <ul class="nav">
                              <li class="nav-item active">
                                  <a class="nav-link" href="#">All Categories</a>
                              </li>
                            {% for cat in categories %}
                              <li class="nav-item">
                                  <a class="nav-link" href="{% url 'blog:category' cat.slug %}">{{ cat.tag }}</a>
                              </li>
                            {% endfor %}
                          </ul>
                      </div>
                  </div>

                  <div class="col-lg-9 mt-5 mt-lg-0">
                      <div class="d-flex">
                          <div class="flex-grow-1">
                              <h3>All Posts</h3>
                          </div>
                          <div>
                              <!-- Example single danger button -->
                              <div class="btn-group">
                                  <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Most Popular</button>
                                  <div class="dropdown-menu">
                                      <a class="dropdown-item" href="#">Latest Posts</a>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="row col-mb-50 posts-md">
                        {% for post in posts %}
                          <div class="col-md-4">
                              <article class="entry">
                                  <div class="entry-image mb-3">
                                      <a href="{% url 'blog:detail' post.slug %}">
                                        {% if post.image %}
                                        <div class="post-image" style="background-image: url('{{ post.image.url }}')"></div>
                                        {% else %}
                                        <div class="post-image" style="background-image: url('{% static 'blog/images/bg/python-wall1.png' %}')"></div>
                                        {% endif %}
                                      </a>
                                  </div>
                                  <div class="entry-title title-sm">
                                      <div class="entry-categories"><a href="demo-blog-categories.html">{{ post.categories.all.first }}</a></div>
                                      <h3><a href="{% url 'blog:detail' post.slug %}" class="color-underline stretched-link">{{ post.title }}</a></h3>
                                  </div>
                                  <div class="entry-meta">
                                      <ul>
                                          <li>{{ post.pub_date | date:"F d, Y" }}</li>
                                      </ul>
                                  </div>
                                  <div class="entry-content mt-3">
                                      <p><!--something--></p>
                                      <a href="{% url 'blog:detail' post.slug %}" class="more-link">Read the artcile</a>
                                  </div>
                              </article>
                          </div>
                        {% endfor %}
                      </div>

                  </div>
              </div>
              <!-- Single Page Categories End -->

              <!-- Subscribe Section
              ============================================= -->
              {% include 'python_packages/components/newsletter.html' %} <!-- Subscribe Section End -->

          </div>
      </div>
  </section><!-- #content end -->

{% endblock content%}