{% extends "blog/base.html" %}
{% load static %}

  {% block meta %}
    <meta name="description"
        content="Tutorials and Articles on Python and Django. Well reviewed and researched articles on the top online courses.">
  {% endblock meta %}

  {% block title %}
    <title>Python Tutorials and Well-Reviewed Online Courses | PythonStacks</title>
  {% endblock title%}

  {% block sharethis %}
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5fc12549eb422600129fa047&product=inline-share-buttons-buttons' async='async'></script>
  {% endblock sharethis%}


{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'blog/images/bg/home-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>PythonStacks</h1>
            <span class="subheading">Python Tutorials and well-reviewed Online Courses</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <a href="{% url 'blog:category' 'python'%}" class="btn btn-primary p-2 mb-1"><small>Python Tutorials</small></a>
        <a href="{% url 'blog:category' 'django'%}" class="btn btn-primary p-2 mb-1"><small>Django tutorials</small></a>
        <a href="{% url 'blog:category' 'online-courses'%}" class="btn btn-primary p-2 mb-1"><small>Top Online Courses</small></a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {% for post in posts %}
        <div class="post-preview">
          <a href="{{ post.get_absolute_url }}">
            <h2 class="post-title">
              {{ post.title }}
            </h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">
              {{ post.subtitle }}
            </h3>
            {% endif %}
          </a>
          <p class="post-meta">Posted by
            <a href="{% url 'python_packages:about' %}">{{ post.author }}</a>
            on {{ post.pub_date | date:"F d, Y" }}</p>
        </div>
        <hr>
        {% endfor %}


        <!-- All Posts Button -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{% url 'blog:all' %}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>

  <!-- Newsletter -->
  {% include 'blog/newsletter.html' %}

{% endblock content%}