{% extends "blog/base.html" %}

{% block meta%}
  <meta name="description"
      content="Search results for {{ q }}. Comprehensive python articles for python programmers.">
{% endblock meta %}

{% block title %}
  <title>Search Results for {{ q }} - PythonStacks</title>
{% endblock title%}


{% block content %}

  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-12 col-lg-8 mt-4">

    {% if query or query_count != 0 %}
        <div class="my-4 py-1">
          <h3>
            <span class="font-weight-bold text-info">{{ query_count }}</span> results for: <span class="text-info">{{ q }}</span>
          </h3>
        </div>

        <hr class="mb-4">

        <!-- Blog Post -->
      {% for post in posts %}
        <div class="card mb-4">
          <div class="card-body">
            <a href="{% url 'blog:detail' post.slug %}"><h2 class="card-title text-primary index-post-title">{{ post.title }}</h2></a>
            <p class="card-text">{{ post.overview | safe | slice:":250" }}...</p>
            <a href="{% url 'blog:detail' post.slug %}" class="btn btn-primary float-right">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            <i class="fa fa-calendar mr-2"></i>{{ post.pub_date | date:"F d, Y"}}
            <i class="fa fa-user ml-4 mr-2"></i> <a href="{% url 'home:about' %}">{{ post.author }}</a>
          </div>
        </div>

        {% if forloop.counter == 1 or forloop.counter == 3 or forloop.counter == 6 or forloop.counter == 9 or forloop.counter == 11 %}
          <div class="card mb-3 p-0 shadow-sm">
            {% include "blog/ads/blogfeeds.html" %}
          </div>
        {% endif %}
      {% endfor %}

    {% else %}
        <div>
          <h2 class="my-5">No Search results!</h2>
        </div>
    {% endif %}


      </div>

      {% include 'blog/sidebar.html'%}


    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->


{% endblock content%}