<div class="col-md-4">

<!--        &lt;!&ndash; Search Widget &ndash;&gt;-->
<!--        <div class="card my-4">-->
<!--          <h5 class="card-header">Search This Blog</h5>-->
<!--          <div class="card-body">-->
<!--            <form method="get" action="{% url 'blog:search' %}">-->
<!--            <div class="input-group">-->
<!--              <input type="text" class="form-control" name="q" placeholder="Search Python keywords...">-->
<!--              <span class="input-group-append">-->
<!--                <button class="btn btn-secondary" type="submit">Go!</button>-->
<!--              </span>-->
<!--            </div>-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->

        <!-- Subscribe Widget -->
        <div class="card my-4 shadow-lg">
<!--          <h5 class="card-header">Search This Blog</h5>-->
          <div class="card-body">
            <h4><i class="fa fa-envelope mr-2 text-info"></i>Get Our Free Newsletters</h4>
            <p class="mt-3">Join our mailing list to be notified about new tutorials </p>
            <form method="post" action="{% url 'marketing:subscription' %}">
              {% csrf_token %}
              <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Enter your email">
                <button class="btn btn-info btn-block mt-3" type="submit">Subscribe</button>
              </div>
            </form>
          </div>
        </div>


        <!-- Most Recent Posts -->
        <div class="card my-4">
          <h5 class="card-header">Most Recent Posts</h5>
          <div class="card-body">
            {% for recent in recent_posts %}
            <p ><a class="text-dark" href="{% url 'blog:detail' recent.slug %}">&rarr; {{ recent.title }}</a></p>
            {% endfor %}
          </div>
        </div>


        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            {% for cat in categories %}
              <a class="btn btn-info mt-2" href="{% url 'blog:category' cat.tag %}">{{ cat }}</a>
            {% endfor %}
          </div>
        </div>

</div>