<div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>


        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Most Recent Posts</h5>
          <div class="card-body">
            {% for recent in recent_posts %}
            <p ><a class="text-dark" href="{% url 'blog:detail' recent.slug %}">&rarr; {{ recent.title }}</a></p>
            {% endfor %}
          </div>
        </div>


        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="container ml-5">
                <ul class="list-unstyled mb-0">
                  {% for cat in categories %}
                  <li>
                    <a href="{% url 'blog:category' cat.tag %}">{{ cat }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>

</div>