{% load static %}

<!-- Header
    ============================================= -->
  <header id="header" class="full-header">
      <div id="header-wrap">
          <div class="container">
              <div class="header-row">

                  <!-- Logo
                  ============================================= -->
                  <div id="logo">
                      <a href="{% url 'python_packages:index' %}" class="standard-logo" data-dark-logo="{% static 'python_packages/images/logo.png' %}"><strong class="fs-4">PythonStacks</strong></a>
                      <a href="{% url 'python_packages:index' %}" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><strong class="fs-5">PythonStacks</strong></a>
                  </div><!-- #logo end -->

                  <div class="header-misc">

                      <!-- Top Search
                      ============================================= -->
                      <div id="top-search" class="header-misc-icon">
                          <a href="#" id="top-search-trigger"><i class="icon-line-search"></i><i class="icon-line-cross"></i></a>
                      </div><!-- #top-search end -->


                  </div>

                  <div id="primary-menu-trigger">
                      <svg class="svg-trigger" viewBox="0 0 100 100"><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path></svg>
                  </div>

                  <!-- Primary Navigation
                  ============================================= -->
                  <nav class="primary-menu">

                      <ul class="menu-container">
                          <li class="menu-item">
                              <a class="menu-link" href="{% url 'python_packages:index' %}"><div>Home</div></a>
                          </li>
                          <li class="menu-item">
                              <a class="menu-link" href="{% url 'blog:index' %}"><div>Blog</div></a>
                          </li>
                          <li class="menu-item">
                              <a class="menu-link" href="{% url 'blog:index' %}"><div>Articles</div></a>
                              <ul class="sub-menu-container">
                                  <li class="menu-item">
                                      <a class="menu-link" href="{% url 'blog:category' 'python' %}"><div>Python Tutorials</div></a>
                                  </li>
                                  <li class="menu-item">
                                      <a class="menu-link" href="{% url 'blog:category' 'django' %}"><div>Django Tutorials</div></a>
                                  </li>
                                  <li class="menu-item">
                                      <a class="menu-link" href="{% url 'blog:category' 'software-development' %}"><div>Software Development</div></a>
                                  </li>
                                  <li class="menu-item">
                                      <a class="menu-link" href="{% url 'blog:category' 'ethical-hacking' %}"><div>Ethical Hacking</div></a>
                                  </li>
                              </ul>
                          </li>
                          <li class="menu-item">
                              <a class="menu-link" href="{% url 'blog:category' 'online-courses' %}"><div>Courses</div></a>
                          </li>
                          <li class="menu-item">
                              <a class="menu-link" href="{% url 'python_packages:contact' %}"><div>Contact</div></a>
                          </li>
                          <li class="menu-item">
                              <a class="menu-link" href="https://github.com/janprince" target="_blank">
                                  <i class="icon-github-circled"></i>
                              </a>
                          </li>
                      </ul>

                  </nav><!-- #primary-menu end -->

                  <form class="top-search-form" action="{% url 'blog:search' %}" method="get">
                      <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter.." autocomplete="off">
                  </form>

              </div>
          </div>
      </div>
      <div class="header-wrap-clone"></div>
  </header>

  <!-- #header end -->