{% load static %}
  <section class="signup-section jumbotron bg-secondary my-5" id="signup" style="background-image: url('{% static 'blog/images/bg/python-wall1.png' %}')">
      <div class="container">
          <div class="row">
              <div class="col-md-10 col-lg-8 mx-auto text-center">
                  <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                  <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
                  <form class="form-inline d-flex" method="post" action="{% url 'marketing:subscription' %}">
                    {% csrf_token %}
                      <input class="form-control form-control-lg flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" name="email" type="email" placeholder="Enter email address..." />
                      <button class="btn btn-primary mx-auto" type="submit">Subscribe</button>
                  </form>
              </div>
          </div>
      </div>
  </section>
