{% extends "blog/base.html" %}

{% load static %}

{% block meta%}
  <meta name="description"
      content="PythonStacks is a tutorial hub that explains technical programming concepts in plain language.">
{% endblock meta %}

{% block title %}
  <title>About - PythonStacks</title>
{% endblock title%}

{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'blog/images/bg/about-bg2.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2 class="my-4">PythonStacks</h2>
        <hr>

        <p class="lead">PythonStacks is a blog with the best written programming tutorials and well reviewed online courses.</p>
        <p class="lead"></p>
      </div>
    </div>

    <div class="row my-4">
      <a href="{% url 'blog:contact' %}" class="btn btn-info mx-auto"><span class="lead">Contact Us</span></a>
    </div>

    <!-- Button trigger modal -->
<!--    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">-->
<!--      Launch demo modal-->
<!--    </button>-->
  </div>


{% endblock content%}