{% extends 'blog/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block meta%}
	<meta name="description"
			content="Contact PythonStacks at admin@pythonstacks.com.">
{% endblock meta %}

{% block title %}
	<title>Contact Us - PythonStacks</title>
{% endblock title%}

{% block content %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'blog/images/bg/contact-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Contact Me</h1>
            <span class="subheading">Have questions? I have answers.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form method="POST">
					{% csrf_token %}

					<h4>Leave a message</h4>

					{{ contact_form | crispy }}

					<button class="btn btn-info" type="submit">Send Message</button>
				</form>
      </div>
    </div>
  </div>

{% endblock content %}