body {
  padding-top: 75px;
   font-family: 'Work Sans', sans-serif;
   background-color: #f6f6f6;
}

a{color: #3498db;}

.navbar-nav .nav-item:hover .nav-link {color: #3498db;}
.navbar-nav .nav-item .dropdown-menu a:hover{background-color: #619ccd;}
nav form{width: 270px;}

h1, h2, h3{font-family: 'Work Sans', sans-serif;}

/** index **/
.index-head{font-size: 35px;}


/** category **/
.category-head{font-size: 33px;}
.book-title{font-size: 16.5px;}
.book-card:hover{
    text-decoration: none;
    color: #3498db;
    opacity: 0.8;
}

/** detail **/
.book-detail-title{font-size: 25px;}

/** media queries **/
@media only screen and (min-width: 1200px){.cat-body{margin: 0px 70px;}}
@media only screen and (max-width: 1200px){.cat-body{margin: 0px 5px;}}

@media only screen and (max-width: 992px){
    .card-img{width: 90px;}  /** useless **/
    .book-title{font-size: 16px;}
    .category-head{font-size: 28px;}

    /** detail **/
    .book-detail-title{font-size: 20px;}
}

@media only screen and (max-width: 576px){
    .book-title{font-size: 14px;}
    .category-head{font-size: 20px;}

    /** detail **/
    .book-detail-title{font-size: 15px;}
}

@media only screen and (max-width: 400px){.book-detail-title{font-size: 14px;}}