{% extends 'courses/base.html' %}
{% load static %}

{% block content %}

    <!--Jumbotron-->
  <div class="jumbotron bg-light">
    <h1 class="font-weight-bold text-info text-center jumbo-head">Discover the best python Courses</h1>

    <!--Using Python for -->
    <div class="row mt-5">
      <div class="col-md-3">
        <h3 class="font-weight-bold mt-5 text-info">Python for: </h3>
      </div>
      <div class="col-md-9" id="cat_buttons">
        {% for category in categories %}
        {% if category.courses.all %}
          <a href="#{{ category.id }}" class="btn mt-2 mx-1 cat_btn btn-info">{{ category.tag }}</a>
        {% endif %}
        {% endfor %}
      </div>
    </div>

    <div class="mt-4 mb-0">
      <p class="lead text-info text-center">Or  <a href="{% url 'blog:index' %}" class="ml-2 btn btn-info">Visit Blog</a></p>
    </div>

  </div>

  <!-- Main Section -->
  <section class="container-fluid">

    <div class="row">

      <div class="col-md-9 mb-4">

        {% for category in categories %}
        {% if category.courses.all %}
          <div class="col-md-12 mb-5" id="{{ category.id }}">
            <h2 class="mb-3 cat_head">{{ category.tag }}</h2>  <!--h4-->

            <hr>
            <div class="row">
              {% for course in category.courses.all %}
                <div class="col-lg-4 col-sm-6 mb-3">

                  <a href="{{course.affiliate_link}}" class="text-decoration-none">
                    <div class="card course-card shadow h-100">
                      <img src="{{ course.image.url }}" class="card-img-top" alt="course-img" loading="lazy">
                      <div class="card-body">
                        <h5 class="card-title font-weight-bold">{{ course.title }}</h5>
                        <p class="card-text">
                          <small class="text-muted">{{ course.provider }}</small>
                          {% if course.free_course %}<span class="bg-info float-right px-2 py-0 text-white">Free</span>{% endif %}
                        </p>
                      </div>
                    </div>
                  </a>

                </div>
              {% endfor %}
            </div>

          </div>
        {% endif %}
        {% endfor %}

      </div>

      <div class="col-md-3">
<!--        side contents -->
      </div>

    </div>

  </section>

{% endblock content %}