{% extends 'books/base.html' %}

{% block meta %}
  <meta name="description" content="Download free {{ category }} books now. Find and download the best programming and {{ category }} books for free on PythonStacks.">
{% endblock meta %}

{% block title %}
  <title>Free {{ category }} Books - PythonStacks</title>
{% endblock title%}

{% block content %}
<div class="container-fluid">
      <div class="row">
        <div class="col-lg-9 mt-4">
          <div class="jumbotron bg-white shadow"><h1 class="category-head mb-3 text-primary text-center">Free {{ category.tag }}</h1></div>

          {% for book in category.books.all %}
          <a href="{% url 'books:detail' book.id %}"><img class="mb-2 mx-1 shadow book-image" src="{{ book.image.url }}"></a>
          {% endfor %}

        </div>

        <!-- sidebar -->
        <div class="col-lg-3">

          <!-- Social icons-->
          <div class="text-center mt-5">{% include 'home/social.html' %}</div>

          <!-- book categories-->
          <div class="card shadow mt-1 pb-4">
            <h4 class="pt-5 mb-5 text-center">Book Categories</h4>

            <ul class="nav flex-column">
              {% for cat in categories %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'books:category' cat.slug %}">
                    {{ cat.tag }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

      </div>
</div>
{% endblock content %}