{% extends 'books/base.html' %}

{% block meta %}
  <meta name="description" content="Download the best {{ category.tag }} books for free. Find more free programming and {{ category.tag }} books on PythonStacks.">
{% endblock meta %}

{% block title %}
  <title>Download Free {{ category.tag }} Books - PythonStacks</title>
{% endblock title%}

{% block content %}
<div class="cat-body">

  <div class="container-fluid">

    <!-- Breadcrumb -->
    <div class="mt-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-light">
        <li class="breadcrumb-item"><a href="{% url 'books:index' %}">Books</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ category.tag }} Books</li>
      </ol>
    </nav>
  </div>

    <!-- Header -->
    <header >
      <div class="mt-4">
        <!-- Category Buttons-->
        <div class="d-none d-md-block">
          {% for cat in categories.all %}
          <a href="{% url 'books:category' cat.slug %}" class="btn btn-sm btn-secondary mt-2">{{ cat.tag }}</a>
          {% endfor %}
        </div>

          <!-- Ad -->
        <div class="card">
          {% include "blog/ads/media-super.html" %}
        </div>

        <h1 class="mt-4 category-head font-weight-bold text-secondary">Free {{ category.tag }} Books</h1>
      </div>
    </header>
    <hr>

    <div class="row">

      <!-- Category Books -->
      <div class="col-lg-8 mt-4">

        <div class="row">
          {% for book in category.books.all %}
          <div class="col-12 col-sm-12 col-md-6 mb-3">
            <a class="book-card" href="{% url 'books:detail' book.slug %}">
              <div class="card mb-3 h-100">
                <div class="row no-gutters">
                  <div class="col-3 col-sm-2 col-lg-4">
                    <img class="card-img img-fluid" src="{{ book.image.url }}" alt="{{ book.title }}">
                  </div>
                  <div class="col-9 col-sm-10 col-lg-8">
                    <div class="card-body">
                      <h2 class="card-title book-title text-secondary">{{ book.title }}</h2>
                      <p class="card-text">
                        <small class="text-muted">{{ book.author }}</small>
                        <span class="card-text text-primary float-right">PDF</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
          {% comment %}
            {% if forloop.counter == 4 or forloop.counter == 8 or forloop.counter == 11 or forloop.counter == 15 or forloop.counter == 18 %}
              <div class="col-12 col-sm-12 col-md-6 mb-3">
                <div class="card">
                  {% include 'blog/ads/booksfeeds.html' %}
                </div>
              </div>
            {% endif %}
          {% endcomment %}
          {% if forloop.counter == 4 or forloop.counter == 8 %}
              <div class="col-12 mb-3">
                <div class="card">
                  {% include 'blog/ads/media-leaderboard.html' %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>

      </div>

      <!-- sidebar -->
      <div class="col-lg-4 mt-5">

        <!-- Ad -->

        <!-- Social icons-->
        <div class="text-center">{% include 'home/social.html' %}</div>

        <!-- Half Page Ad-->
        <div class="my-2">
          {% include 'blog/ads/media-halfpage.html' %}
        </div>

      </div>


    </div>

    <div class="row">
      <!-- Ad -->
      <div class="my-2 col-12 col-lg-8 mx-auto">
        {% include "blog/ads/bookshorizontal.html" %}
      </div>
    </div>

  </div>

</div>
{% endblock content %}