{% extends 'books/base.html' %}

{% block meta %}
  <meta name="description" content="Download the best {{ category }} books for free. Read and download free programming and {{ category }} books on PythonStacks.">
{% endblock meta %}

{% block title %}
  <title>Free {{ category }} Books Download - PythonStacks</title>
{% endblock title%}

{% block content %}
<div class="container-fluid">
  <div class="row cat-body"> <!-- If problem, just remove cat-body -->
        <!-- main-->
        <div class="col-lg-8 mt-4">
          <div class="jumbotron bg-white shadow"><h1 class="category-head mb-3 text-primary text-center">Free {{ category.tag }} books</h1></div>

          <div class="row">
            {% for book in category.books.all %}
            <div class="col-6 col-sm-4 col-md-6 mb-3">
              <a class="book-card" href="{% url 'books:detail' book.slug %}">
                <div class="card mb-3 h-100" style="max-width: 540px;">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img class="mx-1 card-img" src="{{ book.image.url }}" alt="{{ book.title }}">
                    </div>
                    <div class="col-md-8 d-none d-md-block">
                      <div class="card-body">
                        <h2 class="card-title book-title text-primary">{{ book.title }}</h2>
                        <p class="card-text"><small class="text-muted">{{ book.author }}</small></p>
                        <p class="card-text text-primary">PDF</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            {% if forloop.counter == 4 or forloop.counter == 8 or forloop.counter == 11 or forloop.counter == 15 or forloop.counter == 18 %}
              <div class="col-12 col-sm-12 col-md-6 mb-3">
                <div class="card">
                  {% include 'blog/ads/booksfeeds.html' %}
                </div>
              </div>
            {% endif %}
            {% endfor %}
          </div>

        </div>

        <!-- sidebar -->
        <div class="col-lg-4">

          <!-- Social icons-->
          <div class="text-center mt-5">{% include 'home/social.html' %}</div>

          <!-- book categories-->
          <div class="card shadow mt-1 pb-4">
            <h4 class="pt-5 mb-5 text-center">Book Categories</h4>

            <ul class="nav flex-column">
              {% for cat in categories %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'books:category' cat.slug %}">
                    {{ cat.tag }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>

          <!-- Ad -->
          <div class="my-2">{% include "blog/ads/booksbox.html" %}</div>

          <!-- Ad -->
          <div class="my-2">{% include "blog/ads/booksbox.html" %}</div>
        </div>

      </div>

  <!-- Ad -->
  <div class="my-2">
    {% include "blog/ads/bookshorizontal.html" %}
  </div>
</div>
{% endblock content %}