{% extends 'books/base.html' %}
{% load crispy_forms_tags %}

{% block meta %}
  <meta name="description" content="Download {{ book.meta_title }} by {{ book.author }}. Find and download free programming books on PythonStacks.">
{% endblock meta %}

{% block title %}
  <title>{{ book.title }} - PythonStacks</title>
{% endblock title %}


{% block content %}

<main class="container mt-5">

  <!-- Ad -->
  <div class="my-3">
    {% include 'blog/ads/bookshorizontal.html' %}
  </div>

  <!-- Breadcrumb -->
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'books:index' %}">Books</a></li>
        <li class="breadcrumb-item"><a href="{% url 'books:category' book.categories.first.slug %}">{{ book.categories.first.tag }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ book.title }}</li>
      </ol>
    </nav>
  </div>

  <!-- Book Description -->
  <div class="card p-4 shadow">
    <div class="row">
    <div class="col-4 col-sm-3 col-md-4 text-center">
      <img class="mb-3 shadow img-fluid detail-img" src="{{ book.image.url }}" alt="{{ book.title }}" width="200">
    </div>

    <div class="col-8 col-sm-9 col-md-8">
      <h1 class="book-detail-title">{{ book.title }}</h1>
      <p class="d-none d-sm-block"><span class="text-muted">Author: </span>{{ book.author }}</p>
      {% if book.overview %}<p class="d-none d-md-block">{{ book.overview }}</p>{% endif %}
      <div class="row">
        <div class="col-6"><p class="detail-meta"><span class="text-muted">Year: </span>{{ book.year}}</p></div>
        <div class="col-6"><p class="detail-meta"><span class="text-muted">File: pdf, </span>{{ book.size}}mb</p></div>
      </div>
    </div>

  </div>
  </div>

  <!-- Download button -->
  <div class="row">

    <div class="col-md-5 text-center my-4" id="download_div">
      <button class="btn btn-primary" type="button" disabled>
        Creating Download Link ...
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </button>
    </div>

    <!--  javascript -->
    <script>
      document.addEventListener("DOMContentLoaded", function (){
        // create new element
        let active_btn = document.createElement('button')
        active_btn.className = "btn btn-primary"
        active_btn.innerHTML = "<i class='fa fa-download'></i> Download (pdf - {{ book.size }} MB)"
        active_btn.onclick = function(){
            window.location.href ='{{ book.download_link }}'
        }

        setTimeout(function(){
          // update the button after 5s
          download_div = document.querySelector('#download_div')
          download_div.innerHTML = ""  // clearing innerHTML
          download_div.appendChild(active_btn) // add new button element
        }, 5000) // 5s

      });
    </script>

    <div class="col-md-7 my-4 text-center">
      <!-- Buy button-->
      {% if book.affiliate_link %}
      <a href="{{ book.affiliate_link }}" class="btn btn-primary" target="_blank"><i class="fab fa-amazon mr-2"></i>Buy on Amazon</a>
      {% endif %}
    </div>

  </div>

  <!-- Ad -->
  <div class="my-3">
    {% include 'blog/ads/bookshorizontal.html' %}
  </div>

  <!-- Similar books (random)-->
  <div class="related mt-5 mb-5 pt-5">
    <h4 class="text-primary">Similar Books</h4>
    <hr>

    <div class="row">

      <div class="col-lg-8">
        <div class="row">
          {% for related in related_books %}
          <div class="col-12 col-sm-12 col-md-6 mb-3">
              <a class="book-card" href="{% url 'books:detail' related.slug %}">
                <div class="card mb-3 h-100">
                  <div class="row no-gutters">
                    <div class="col-3 col-sm-2 col-lg-4">
                      <img class="card-img img-fluid" src="{{ related.image.url }}" alt="{{ book.title }}">
                    </div>
                    <div class="col-9 col-sm-10 col-lg-8">
                      <div class="card-body">
                        <h2 class="card-title book-title text-secondary">{{ related.title }}</h2>
                        <p class="card-text">
                          <small class="text-muted">{{ related.author }}</small>
                          <span class="card-text text-primary float-right">PDF</span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            {% if forloop.counter == 1 or forloop.counter == 3 or forloop.counter == 6%}
                <div class="col-12 col-sm-12 col-md-6 mb-3">
                  <div class="card">
                    {% include 'blog/ads/booksfeeds.html' %}
                  </div>
                </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="col-lg-4 my-3">
        <!-- Ad -->
        {% include "blog/ads/booksbox.html" %}
      </div>

    </div>
  </div>

  <!-- Ad -->
  <div>
    {% include 'blog/ads/booksbox.html' %}
  </div>

  <!-- Top Tutorials -->
  <div>
      <h4 class="mt-5 mb-2 font-weight-bold">Learning Python?</h4>
      <hr>
      <div class="row">
      {% for post in top_posts %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-3">
          <a class="" href="{% url 'blog:detail' post.slug %}">
            <p class="lead text-secondary"><i class="far fa-newspaper"></i> {{ post.title }}</p>
          </a>
        </div>
      {% endfor %}
      </div>
    </div>

  <!-- Reviews -->
  {% if reviews %}
    <div class="mt-5 mb-4">

      <h4 class="text-primary">Reviews</h4>
      <hr>
      {% for review in reviews %}
        <div class="bg-white p-3 mb-3">
          <p>
            <span class="lead text-primary">{{ review.name }}</span>
            <span class="float-right text-muted">{{ review.date|date:"F d, Y" }}</span>
          </p>
          <p>{{ review.feedback }} </p>
        </div>
      {% endfor %}

    </div>
  {% endif %}

  <!-- Review form -->
  <div class="row mb-2">

    <div class="col-md-8">
      <h4 class="my-2">Share your opinion</h4>
      {% if new_review %}
        <div class="alert alert-success">Your review is awaiting moderation</div>
      {% else %}
      <form method="post" action="{% url 'books:detail' book.id %}">
        {% csrf_token %}
        {{ review_form|crispy }}
        <input class="btn btn-primary" type="submit" value="Post a Review">
      </form>

      {% endif %}
    </div>

    <!-- Ad -->
    <div class="col-md-4 border-left my-2">
    </div>

  </div>

</main>
{% endblock content %}