{% extends 'books/base.html' %}
{% load crispy_forms_tags %}

{% block meta %}
  <meta name="description" content="Download {{ book.meta_title }} by {{ book.author }} for free. Find and download free programming books on PythonStacks.">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@PythonStacks" />
  <meta name="twitter:title" content="{{ book.title }}" />
  <meta name="twitter:description" content="Download {{ book.meta_title }} by {{ book.author }}. Download free programming books." />
  <meta name="twitter:image" content="https://www.pythonstacks.com{{ book.image.url }}" />

  <meta property="og:url" content="https://www.pythonstacks.com{{ book.get_absolute_url }}" />
  <meta property="og:type" content="product" />
  <meta property="og:title" content="{{ books.title }}" />
  <meta property="og:description" content="Download {{ book.meta_title }} by {{ book.author }}. Download free programming books." />
  <meta property="og:image" content="https://www.pythonstacks.com{{ book.image.url }}" />
{% endblock meta %}

{% block title %}
  <title>{{ book.meta_title }} - PythonStacks</title>
{% endblock title%}

{% block content %}

<main class="container mt-5">

  <!-- Breadcrumb -->
  <div>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'books:category' book.categories.first.slug %}">Books</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ book.title }}</li>
      </ol>
    </nav>
  </div>

  <!-- Book Description -->
  <div class="row">
    <div class="col-md-4 text-center">
      <img class="mb-3 shadow" src="{{ book.image.url }}" alt="{{ book.title }}" width="200">
    </div>

    <div class="col-md-8">
      <h1 class="book-detail-title">{{ book.title }}</h1>
      <p><span class="text-muted">Author: </span>{{ book.author }}</p>
      {% if book.overview %}<p>{{ book.overview }}</p>{% endif %}
      <div class="row">
        <div class="col-6"><p class="lead"><span class="text-muted">Year: </span>{{ book.year}}</p></div>
        <div class="col-6"><p class="lead"><span class="text-muted">File: pdf, </span>{{ book.size}}mb</p></div>
      </div>
    </div>

  </div>

  <!-- Download button -->
  <div class="row">

    <div class="col-md-4 text-center my-4">
      <button class="btn btn-primary" onclick="window.location.href='{{ book.download_link }}';">
        <i class="fa fa-download"></i> Download (pdf - {{ book.size }} MB)
      </button>
<!--      <button class="btn btn-primary" disabled></i>Download unavailable now</button>-->
    </div>

    <div class="col-md-8 mb-4 mt-3">
      <p>
        <span class="lead">Share This Book: </span>
        <a href="https://twitter.com/intent/tweet?url=https://www.pythonstacks.com{{ book.get_absolute_url }}&text={{book.title}}" class="btn btn-info mb-1" target="_blank"><i class="fa fa-twitter text-white"></i>  Tweet</a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.pythonstacks.com{{ book.get_absolute_url }}" class="btn btn-info mb-1" target="_blank"><i class="fa fa-facebook text-white"></i>  Share</a>
        <a href="https://www.reddit.com/submit?title={{ books.title }}&url=https://www.pythonstacks.com{{ book.get_absolute_url }}" class="btn btn-info mb-1" target="_blank"><i class="fa fa-reddit text-white"></i> Share</a>
        <a href="https://news.ycombinator.com/submitlink?u=https://www.pythonstacks.com{{ book.get_absolute_url }}&t={{ book.title }}" class="btn btn-info mb-1" target="_blank"><i class="fa fa-hacker-news text-white"></i> Share</a>
      </p>
    </div>

  </div>

  <!-- Ad -->
  <div>
    {% include "blog/ads/bookshorizontal.html" %}
  </div>

  <!-- Similar books-->
  <div class="related mt-5 mb-5 pt-5">
    <h4 class="text-info">Similar Books</h4>
    <hr>

    <div class="row">

      <div class="col-lg-8">
        <div class="row">
          {% for related in related_books %}
            <div class="col-4 col-sm-4 col-md-3">
                <a href="{% url 'books:detail' related.slug %}"><img class="mb-2 mx-1 shadow img-fluid" src="{{ related.image.url }}"></a>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="col-lg-4 my-3">
        <!-- Ad -->
        {% include "blog/ads/booksbox.html" %}
      </div>

    </div>
  </div>

  <!-- Reviews -->
  {% if reviews %}
    <div class="mt-5 mb-4">

      <h4 class="text-info">Reviews</h4>
      <hr>
      {% for review in reviews %}
        <div class="bg-white p-3 mb-3">
          <p>
            <span class="lead text-info">{{ review.name }}</span>
            <span class="float-right text-muted">{{ review.date|date:"F d, Y" }}</span>
          </p>
          <p>{{ review.feedback }} </p>
        </div>
      {% endfor %}

    </div>
  {% endif %}

  <!-- Review form -->
  <div class="row mb-2">
    <div class="col-md-8">

      {% if new_review %}
        <div class="alert alert-success">Your review is awaiting moderation</div>
      {% else %}
      <form method="post" action="{% url 'books:detail' book.id %}">
        {% csrf_token %}
        {{ review_form|crispy }}
        <input class="btn btn-info" type="submit" value="Post a Review">
      </form>

      {% endif %}
    </div>

    <div class="col-md-4 border-left my-2">
      <!-- Ad -->
      {% include "blog/ads/booksbox.html" %}
    </div>

  </div>

</main>
{% endblock content %}