{% extends 'books/base.html' %}

{% block meta %}
  <meta name="description"
      content="">
{% endblock meta %}

{% block title %}
  <title>Python Programming Hub - Real Coder</title>
{% endblock title%}

{% block content %}

<section class="book-index">
  <div class="container-fluid">

    <div class="row">

      <div class="col-lg-5 text-white">
        <h1 class="mt-5 text-white display-4 index-head font-weight-bold">Free Programming Books</h1>
        <p class="lead">
          At Real_Coder, you can learn from the best python tutorials online.
          Our tutorials are beginner-oriented and very much suitable for intermediate and advanced programmers.
        </p>
        <p class="lead">
            We provide articles on the python language, tips and tricks, guides, python projects using Requests and web development tutorials using frameworks like Django and Flask.
        </p>
      </div>

      <div class="col-lg-7">
        <h2 class="text-white mt-5 b-1">Book Categories</h2>
        {% for cat in categories %}
          <a class="btn btn-primary my-2 mx-1 border" href="{% url 'books:category' cat.slug %}">{{ cat.tag }}</a>
        {% endfor %}
      </div>

    </div>

  </div>
</section>

{% endblock content %}