{% extends 'books/base.html' %}

{% load static %}

{% block meta %}
  <meta name="description"
      content="Download free programming books from PythonStacks. Find and download free python books, machine learning books, java books, AI books, computer science books, etc.">
{% endblock meta %}

{% block title %}
  <title>Free Programming Books - PythonStacks</title>
{% endblock title %}

{% block content %}

<section>
  <div class="container">
    <!-- Header -->
    <header class="my-3">
      <div class="jumbotron book-index text-white">
        <h1 class="index-head text-center font-weight-bold">Free Programming Books</h1>
        <p class="text-center mt-2">Find and download programming and tech related books for free</p>
      </div>
    </header>

    <!-- Ad -->
    <div class="text-center">
      {% include "blog/ads/revenue-leaderboard.html" %}
    </div>

    <!-- Categories -->
    <h3 class="mt-5 mb-2 font-weight-bold">Categories</h3>
    <div class="card my-4 shadow">
      <div class="row card-body">
        {% for cat in categories %}
        <div class="col-6 col-md-4">
          <a class="m-2 text-secondary" href="{% url 'books:category' cat.slug %}">
            <div class="media">
              {% if cat.image %}<img src="{{ cat.image.url }}" class="align-self-center mr-3 index-image" alt="Category">
              {% else %}<img src="{% static 'books/images/book-icon.png' %}" class="align-self-center mr-3 index-image" alt="Category">{% endif %}
              <div class="media-body">
                <h5 class="mt-2 index-category-title">{{ cat.tag }}</h5>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}

      </div>
    </div>

    <!-- Ad -->
    <div class="card">
      {% include "blog/ads/media-super.html" %}
    </div>

    <!-- Top Books -->
    <div>
      <h3 class="mt-5 mb-2 font-weight-bold">Top Books</h3>
      <hr>
      <div class="row">
      {% for book in popular_books %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-3">
          <a class="book-card" href="{% url 'books:detail' book.slug %}">
            <div class="card mb-3 h-100">
              <div class="row no-gutters">
                <div class="col-3 col-sm-2 col-lg-4">
                  <img class="card-img img-fluid" src="{{ book.image.url }}" alt="{{ book.title }}">
                </div>
                <div class="col-9 col-sm-10 col-lg-8">
                  <div class="card-body">
                    <h2 class="card-title book-title text-secondary">{{ book.title }}</h2>
                    <p class="card-text">
                      <small class="text-muted">{{ book.author }}</small>
                      <span class="card-text text-primary float-right">PDF</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
      </div>
    </div>

        <!-- Ad -->
    <div class="card">
      {% include "blog/ads/media-super.html" %}
    </div>

    <!-- Top Tutorials -->
    <div>
      <h3 class="mt-5 mb-2 font-weight-bold">Top Python Tutorials</h3>
      <hr>
      <div class="row">
      {% for post in top_posts %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-3">
          <a class="" href="{% url 'blog:detail' post.slug %}">
            <p class="text-secondary"><i class="far fa-newspaper"></i> {{ post.title }}</p>
          </a>
        </div>
      {% endfor %}
      </div>
    </div>

  </div>
</section>

{% endblock content %}