{% extends "python_packages/base.html" %}

{% load static %}

{% block meta%}
  <meta name="description"
      content="PythonStacks is a tutorial hub that explains technical programming concepts in plain language.">
{% endblock meta %}

{% block title %}
  <title>About | PythonStacks</title>
{% endblock title%}

{% block content %}

  <!-- Page Title
    ============================================= -->
  <section id="page-title" class="page-title-mini">

      <div class="container clearfix">
          <h1>About Us</h1>
          <span>Everything you need to know about our Company</span>
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Pages</a></li>
              <li class="breadcrumb-item active" aria-current="page">About Us</li>
          </ol>
      </div>

  </section><!-- #page-title end -->

  <!-- Content
    ============================================= -->
  <section id="content">
      <div class="content-wrap">
          <div class="container clearfix">

              <div class="row col-mb-80 mb-0">

                  <div class="col-12">

                      <div class="heading-block center border-bottom-0">
                          <h2>PythonStacks</h2>
                          <span>We value Work Ethics &amp; Environment as it helps in creating a Creative Thinktank</span>
                      </div>

                  </div>

              </div>


          </div>
      </div>
  </section><!-- #content end -->


{% endblock content%}